body {
    padding : 10px !important;
    
  }
  
  #exTab1 .tab-content {
    color : white !important;
    background-color: #428bca !important;
    padding : 5px 15px !important;
  }
  
  #exTab2 h3 {
    color : white;
    background-color: #428bca !important;
    padding : 5px 15px !important;
  }
  
  /* remove border radius for the tab */
  
  #exTab1 .nav-pills > li > a {
    border-radius: 0 !important;
  }
  
  /* change border radius for the tab , apply corners on top*/
  
  #exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 !important;
  }
  
  #exTab3 .tab-content {
    color : white;
    background-color: #428bca !important;
    padding : 5px 15px !important;
  }